/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 2, 2016, 4:27:34 PM
    Author     : Kasuma
*/

#cheader #index_header #about_header {
    padding: 10px;
    margin: 5px;
    border-style: none;
    
}

#clist #blog_1 #about_body{
    color: white;
    padding: 20px;
    margin: 5px;
    border-style: groove;
    border-color: lightblue;
}

body {
    background-image: url("images/blogsite_background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

a:link {
    color: gray;
}

a:visited {
    color: gray;
}